.thumbnail {
  object-fit: cover;
  border-radius: 8px;

  width: 90%;
  max-width: 800px;
  height: auto;
  display: block;

  margin: 2rem auto 1rem auto;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.featuresTitle {
  text-align: center;

  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;

  padding: 2rem 0 1rem 0;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  width: 100%;
}

.featureImage {
  width: 100%;
  height: 100px;
}
